apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-xpnckfqp
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-xpnckfqp:7567ac99b50cb00ea156d918bdd39a22a5ae325f@sha256:5110fa6e963b0e9f7f4489b349306d3d233e3e261afcbdf444d44fb6edd10f7c
        name: container-image  
